@font-face {
 font-family:roboto;
 src:url("../roboto_font/Roboto-Regular.ttf") ;
}
@font-face {
 font-family:roboto;
 src:url("../roboto_font/Roboto-Bold.ttf") ;
 font-weight: bold;
}
@font-face {
 font-family:robotom;
 src:url("../roboto_font/Roboto-Medium.ttf") ;
}
title {
	font-family: roboto;
}
body {
	margin:0px;
	background: #EEF0ED;
}
a {
	text-decoration: none;
}
img {
	vertical-align: middle;
}
/*#dv2 {
	font-family: roboto;
}*/

.header-banner {
	margin:0px;
	width: 1340px;
	height:47px;
	position: fixed;
	top:-7px;
	background-image: url("../banner/top_banner4.png");
	z-index: 999;
	/*display: none;*/
}
.header-info {
	background: #EEF0ED;
	margin-top:40px;
	position: fixed;
	top: -7px;
	/*display: block;*/
	width: 1340px;
	height: 94px;
	border : 1px solid white;
	border-bottom-color: #8080806b;
	z-index: 998;
}

#logo {
	width: 180px;
	background-color: white;
	margin-top: 10px;
	margin-left: 30px;
	display: block;
}

#diachi {
	color: black;
	font-family: garamond;
	letter-spacing: 2px;
	font-size: 13px;
	font-weight: bold;
	display: block;
	background-color: white;
   position: absolute;
   top: 50px;
   left: 97px; 
}
#slogan {
	font-family: manteka;
	color:white;
	font-size: 9px;
	font-weight: bold;
	display: block;
	background-color: #F21010;
	border-radius: 1px;
   position: absolute;
   padding: 1px;
   top: 70px;
   left: 34px; 
}
.searchbar {
	position: absolute;
	/*background-color:#D3D9DC ;*/
	background-color: white;
	display: inline;
	border: 1px solid white;
	border-radius: 17px;
	top: 14px;
	left: 240px;
	overflow: hidden;
	height: 35px;
}

.search-txt{
     border: none;
     outline: none;
     background: none;
     padding-left: 15px;

}
.search-bt {
	/*border-radius: 17px;*/
	font-size: 20px;
	text-decoration: none;
	float :right;
	background-color: #F00505;
	color: white;
    width: 50px;
    height: 35px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.search-bt:hover {
	color: #6A6261;
}
.dangky {
	
	position: absolute;
    bottom: 45px;
    left:820px;
	font-weight: bold;
}
.dk {
	text-decoration: none;
	color:black;
	font-family: roboto;
	font-size: 13px;
	font-weight: bold;
}
#dk-img {
	width:32px;
	vertical-align: middle;
}
.dangnhap {
	
	position: absolute;
    bottom: 42px;
    left:940px;
	font-weight: bold;
}
.dn {
	text-decoration: none;
	color:black;
	font-family: roboto;
	font-size: 13px;
	font-weight: bold;
}
#icon-dn {
	font-size: 32px;
	vertical-align: middle;
}

.tintuc {
	
	position: absolute;
    bottom: 45px;
    left:1080px;
	font-weight: bold;
}
.tt {
	text-decoration: none;
	color:black;
	font-family: roboto;
	font-size: 13px;
	font-weight: bold;
}
#icon-tt {
	width:32px;
	vertical-align: middle;
}
.giohang {
	
	position: absolute;
    bottom: 45px;
    left:1200px;
	font-weight: bold;
}
.logogh {
	position: absolute;
	z-index: 4;
}
.gh {
	text-decoration: none;
	color:black;
	font-family: roboto;
	font-size: 13px;
	font-weight: bold;
}
#icon-gh {
	width:32px;
	vertical-align: middle;
	
}
#sl {
	position: absolute;
	top:0px;
	padding-top: 3px;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color:white;
	width: 13px;
	height: 13px;
	border-radius: 13px;
	background-color :#F00505; 
	z-index: 5;
}
.diachi {
	position: absolute;
	display: inline;
	top: 70px;
	left: 250px;
	font-family: roboto;
	font-weight: bold;
	color:#F00505 ;
	z-index: 990;

}
#youtube {
	position: absolute;
	top: 67px;
	left: 1025px;
	
}
.logo-ytb {
	font-family: roboto;
	font-weight: bold;
	color:#F00505 ;
}
#facebook {
	position: absolute;
	top: 68px;
	left: 1150px;
	
}
.fb {
	font-family: roboto;
	font-weight: bold;
	color:#F00505 ;
}
.Danhmuc {
	position: fixed;
    top:136px;
    margin-left: 20px;
	width: 200px;
	height: 32px;
	border: 1px solid grey;
	border-radius: 5px;
	background-color: #4E4D4B;
	color: white;
	font-family: roboto;
    text-align: center;
}
.dm {
	position: absolute;
	top: 6px;
	left: 26px;
	color:white;
	}
.icon-list {
	padding-top: 5px;
}
.menu-horizon {
	margin-left: 232px;
    position: fixed;
    top:136px;
	width: 1120px;
	height: 30px;
	background-color: #EEF0ED; 
	/*background-color: red;*/
	display: flex;
    flex-direction: row;
    z-index: 993;
    border-radius: 8px;
    padding-bottom: 5px;
    text-align: center;
}



.menu-horizon .item {
	/*padding: 10px;*/
	font-family: roboto;
	/*font-weight: bold;*/
	/*background-color:;*/
	font-size: 14px;
	text-align: center;
	margin-bottom :5px; 
	margin-left: 5px;
	justify-content: center;
	align-content: center;
	padding-top: 5px;
	align-content: center;
	width: 212px;
	height: 27px;
	border: 1px solid grey;
	/*opacity: 5px;*/
    border-radius: 5px;
    color: black;
    
}
div.item:hover{
	background-color: red;
	color: white;
	opacity: 10px;
}
/*.item:hover .mnh-it5{
	color:white;
}*/
.item:hover .mnh-it1>span>i{
	color:black;
}
.item:hover .mnh-it2>span>i{
	color:black;
}
.item:hover .mnh-it3>span>i{
	color:black;
}
.item:hover .mnh-it4>span>i{
	color:black;
}
.item:hover .mnh-it5>span>i{
	color:black;
}
.mnh-it1 {
	position: absolute;
	top: 9px;
	left: 65px;
	color:inherit;
	/*padding-bottom: 7px;*/
}
.mnh-it2 {
	position: absolute;
	top: 9px;
	left: 234px;
	color:inherit;
}
.mnh-it3 {
	position: absolute;
	top: 9px;
	left: 470px;
	color:inherit;
}
.mnh-it4 {
	position: absolute;
	top: 9px;
	left: 681px;
	color:inherit;
}
.mnh-it5 {
	position: absolute;
	top: 9px;
	left: 890px;
	color:inherit;

}
.mnh-container {
	position: fixed;
	top:129px;
	width: 1340px;
	height: 47px;
	background-color: #EEF0ED;
	z-index: 998;
}
.body-container {
	width: 1340px;
	height:750px;
	position: relative;
	top:180px;

}
.menu-vertical {
	position: relative;
	width:200px;
	height: 545px;
	/*top:183px;*/
	/*left: 40px;*/
	margin-left: 21px;
	align-self: center;
	background-color:white;
	/*border: 1px solid grey;*/
	border-radius: 6px;
	z-index: 3;
	float: left;
	/*display: none;*/
}
.main-menu {
	/*margin-top: 3px;*/
	width: 200px;
	margin-block-end: 0em;
	margin-block-start: 0px;
	padding-inline-start: 0px;
}

.submenu {
	position: relative;
	list-style-type: none;
	font-family: robotom;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	width: 194px;
	height: 37px;
	/*transition: 1.5s;*/
	/*border: 1px solid grey;*/
	/*background-color: white;*/
    border-radius: 5px;
    /*display: none;*/
    color: black;
}
.submenu:after {
	position: absolute;
	display: block;
	left: 175px;
	width: 0px;
	height: 0px;
	border-bottom:19px solid transparent;
	border-top:18px solid transparent;
	border-left: 24px solid #E70202;
    content: "";
	display: none;
	z-index: 999;

	/*transition: 0.1s;*/
	   /*-moz-transition :0.2s;*/
	   /*-webkit-transition :0.2s;*/
}
.submenu:hover {
	display: block;
	left: 20px;
	width: 178px;
	height: 37px;
	background-color:#E70202;
	opacity: 10;
	/*transition: 0.1s;*/
	   /*-moz-transition :0.2s;*/
	   /*-webkit-transition :0.2s;*/
}
.submenu:hover::after{
	display: block;
}
.submenu:hover.submenu >a{
	color:white;
}
.submenu:hover.submenu>ul {
	border-radius: 0px;
	left: 74px;
}
/*.submenu:hover.submenu>ul:after {
	display: block;
}*/
.submenu >a {
	/*display: block;*/
	color: black;
	text-align: center;
	position: absolute;
	/*background-color: blue;*/
	/*line-height:40px; */
	/*top:6px;*/
	line-height:37px; 
	left: 15px;
	}
.lt-submenu {
	width: 1340px;
	height: 430px;
	padding-inline-start: 0px;
	list-style: none;
	background-color: white;
	position: absolute;
	margin-left: 116px;
	top:-37px;
    border-radius: 5px;
	display: flex;
	flex-direction: column;
	left:100px;
	z-index: 888;
	display: none;


}

.lt-submenu1 {
	padding: 4px;
	background-color: red;
	border-radius: 5px;
	list-style: none;
	position: absolute;
	top:0px;
}
.lt-submenu2  {
	width: 910px;
	padding: 4px;
	border-radius: 5px;
	background-color: red;
	list-style: none;
	position: absolute;
	top:220px;
}
ul.lt-submenu-1-1 {
	line-height: 25px;
	padding-left: 10px;
	display: flex;
	flex-direction: row;
	list-style :none;
	justify-content: center;
}
ul.lt-submenu-2-1 {
	line-height: 25px;
	padding-left: 10px;
	list-style :none;
	display: flex;
	flex-direction: row;
}
ul.lt-submenu-1-1 >li {
	border-radius: 5px;
	position: relative;
	background-color: red;
	color: white;
	text-align: center;
	width: 180px;
	margin: 0px 30px 0px 30px auto;
}
ul.lt-submenu-1-1 >li>a {
	color: white;
}
ul.lt-submenu-1-1 > li >ul {
	margin-top: 10px;
	border-radius: 5px;
	float: left;
	line-height: 27px;
	position: absolute;
	list-style: none;
}
ul.lt-submenu-1-1 > li >ul >li {
	margin-right: 5px;
	display: block;
}
ul.lt-submenu-1-1 > li >ul >li >a {
	text-align: left;
	margin-left: 15px;
    font-family: roboto;
    font-weight: 15px;
    color: black;
    display: block;
}
ul.lt-submenu-1-1 >li >a:hover{
	/*font-size: 17px;*/
}
ul.lt-submenu-1-1 > li :hover{
   /*color: black;*/
}
ul.lt-submenu-1-1 > li >ul >li>a:hover{
	font-weight: bold;
    color: red;
}
ul.lt-submenu-2-1 >li >a:hover{
	/*font-size: 17px;*/
}
ul.lt-submenu-2-1 > li :hover{
   /*opacity: 20;*/
   /*color: #D00707;*/
}
ul.lt-submenu-2-1 > li >ul >li>a:hover{
	font-weight: bold;
    color: red;

}
ul.lt-submenu-2-1 > li >ul >li>a:hover{
    color: red;
}

ul.lt-submenu-2-1 >li {

	text-align: center;
	width: 180px;
	margin: 0px 30px 0px 30px auto;
}
ul.lt-submenu-2-1 > li >ul {
	margin-top: 10px;
	border-radius: 5px;
	float: left;
	line-height: 27px;
	position: absolute;
	list-style: none;
}
ul.lt-submenu-2-1 > li >ul >li >a {
	text-align: left;
    font-family: roboto;
    margin-left: 17px;
    font-weight: 15px;
    color: black;
    display: block;
}
ul.lt-submenu-2-1 >li>a {
	color :white;
}
.lt-submenu div >img {
	position: absolute;
	left: 930px;
	width: 150px;
	height: 430px;
	border-radius: 5px;
}

.lt-submenu-lg {
	margin-top: 17px;
	margin-left: -15px;
}

.submenu:hover .lt-submenu{

	display: flex;
}
.hiddenn{
	display: none;
}
/*menucon pcgaming*/
.pc-submenu {
	width: 1340px;
	height: 430px;
	padding-inline-start: 0px;
	list-style: none;
	background-color: white;
	position: absolute;
	margin-left: 116px;
	top:-74px;
    border-radius: 5px;
    /*transition: 3s;*/
	display: flex;
	flex-direction: column;
	left:100px;
	z-index: 888;
	display: none;
}
 /*hover pc-menu*/
.submenu:hover .pc-submenu{
	display: flex;
}


 /*banner of pc-menu*/

.pc-submenu div >img {
	position: absolute;
	left: 930px;
	width: 150px;
	height: 430px;
	border-radius: 5px;
}

/*linh kien may tinh -menu */
.lk-submenu {
	width: 1340px;
	height: 430px;
	padding-inline-start: 0px;
	list-style: none;
	background-color: white;
	position: absolute;
	margin-left: 116px;
	top:-112px;
    border-radius: 5px;
	display: flex;
	flex-direction: column;
	left:100px;
	z-index: 888;
	display: none;
}
 /*hover lk-menu*/
.submenu:hover .lk-submenu{
	display: flex;
}
 /*banner of lk-menu*/
.lk-submenu div >img {
	position: absolute;
	left: 930px;
	width: 150px;
	height: 430px;
	border-radius: 5px;
}

/*man hinh -menu */
.monitor-submenu {
	width: 1340px;
	height: 430px;
	padding-inline-start: 0px;
	list-style: none;
	background-color: white;
	position: absolute;
	margin-left: 116px;
	top:-148px;
    border-radius: 5px;
	display: flex;
	flex-direction: column;
	left:100px;
	z-index: 888;
	display: none;
}
 /*hover manhinh-menu*/
.submenu:hover .monitor-submenu{
	display: flex;
}
 /*banner of manhinh-menu*/
.monitor-submenu div >img {
	position: absolute;
	left: 930px;
	width: 150px;
	height: 430px;
	border-radius: 5px;
}

/*ban phim - menu*/
.keyboard-submenu {
	width: 1340px;
	height: 430px;
	padding-inline-start: 0px;
	list-style: none;
	background-color: white;
	position: absolute;
	margin-left: 116px;
	top:-185px;
    border-radius: 5px;
	display: flex;
	flex-direction: column;
	left:100px;
	z-index: 888;
	display: none;
}
 /*hover ban phim-menu*/
.submenu:hover .keyboard-submenu{
	display: flex;
}
 /*banner of keyboard-menu*/
.keyboard-submenu div >img {
	position: absolute;
	left: 940px;
	width: 150px;
	height: 430px;
	border-radius: 5px;
}


/*chuot - menu*/
.mouse-submenu {
	width: 1340px;
	height: 430px;
	padding-inline-start: 0px;
	list-style: none;
	background-color: white;
	position: absolute;
	margin-left: 116px;
	top:-223px;
    border-radius: 5px;
	display: flex;
	flex-direction: column;
	left:100px;
	z-index: 888;
	display: none;
}
 /*hover chuot-menu*/
.submenu:hover .mouse-submenu{
	display: flex;
}
 /*banner of chuot-menu*/
.mouse-submenu div >img {
	position: absolute;
	left: 930px;
	width: 150px;
	height: 430px;
	border-radius: 5px;
}


/*tainghe - menu*/
.headphone-submenu {
	width: 1000px;
	height: 430px;
	padding-inline-start: 0px;
	list-style: none;
	background-color: white;
	position: absolute;
	margin-left: 116px;
	top:-259px;
    border-radius: 5px;
	display: flex;
	flex-direction: column;
	left:100px;
	z-index: 888;
	display: none;
}
 /*hover tai nghe-menu*/
.submenu:hover .headphone-submenu{
	display: flex;
}
 /*banner of tai nghe-menu*/
.headphone-submenu div >img {
	position: absolute;
	left: 930px;
	width: 150px;
	height: 430px;
	border-radius: 5px;
}


/*ghe - menu*/
.ghe-submenu {
	width: 1340px;
	height: 430px;
	padding-inline-start: 0px;
	list-style: none;
	background-color: white;
	position: absolute;
	margin-left: 116px;
	top:-296px;
    border-radius: 5px;
	display: flex;
	flex-direction: column;
	left:100px;
	z-index: 888;
	display: none;
}
 /*hover ghe-menu*/
.submenu:hover .ghe-submenu{
	display: flex;
}
 /*banner of ghe-menu*/
.ghe-submenu div >img {
	position: absolute;
	left: 930px;
	width: 150px;
	height: 430px;
	border-radius: 5px;
}


/*thiet bi mang - menu*/
.tbm-submenu {
	width: 1340px;
	height: 430px;
	padding-inline-start: 0px;
	list-style: none;
	background-color: white;
	position: absolute;
	margin-left: 116px;
	top:-333px;
    border-radius: 5px;
	display: flex;
	flex-direction: column;
	left:100px;
	z-index: 888;
	display: none;
}
 /*hover tbm-menu*/
.submenu:hover .tbm-submenu{
	display: flex;
}
 /*banner of tbm-menu*/
.tbm-submenu div >img {
	position: absolute;
	left: 930px;
	width: 150px;
	height: 430px;
	border-radius: 5px;
}
.tbm-submenu > .lt-submenu2 {
	display: none;
}



/* phukien - menu*/
.pk-submenu {
	width: 1150px;
	height: 430px;
	padding-inline-start: 0px;
	list-style: none;
	background-color: white;
	position: absolute;
	margin-left: 116px;
	top:-371px;
    border-radius: 5px;
	display: flex;
	flex-direction: column;
	left:100px;
	z-index: 888;
	display: none;
}
 /*hover phu kien-menu*/
.submenu:hover .pk-submenu{
	display: flex;
}
 /*banner of tbm-menu*/
.pk-submenu div >img {
	position: absolute;
	left: 930px;
	width: 150px;
	height: 430px;
	border-radius: 5px;
}

.pk-submenu > .lt-submenu2 {
	display: none;
}

.menu-anh1 {
	position: absolute;
	left: 240px;
	width: 1100px;
	height: 550px;
}
#ctn-menu-anh {
	width: 1100px;
	height: 550px;
	border-color:#EEF0ED;
	margin: 0px;
	padding: 0px;
}
#slider{
	position: relative;
	border-radius: 7px;
	width: 730px;
	height: 365px;
	/*display: none;*/
	border-radius: 0px;
	border: none;
	cursor: pointer;
	overflow: hidden;
	/*display: none;*/
}
/*.submenu:hover.header-banner{
   display: none;
}*/
.slide {
	position: absolute;
	top:0px;
	left: 0px;
	opacity: 0;
	visibility: hidden;
}
.active {
	opacity: 1;
	visibility: visible; 
}

.bt-left{
	position: absolute;
	top:0px;
	left: 0px;
	height: 100%;
	width: 100px;
	z-index: 3;
}

.bt-right{
	position:absolute;
	top:0px;
	right: 0px;
	height: 100%;
	width: 100px;
	z-index: 3;
}
#bt-1{
	position: absolute;
	top:50%;
	left:40px;
	line-height: 100%;
	color:white;
	opacity: 0.4;
	font-size: 30px;
	z-index: 3;
}
#bt-2{
	position: absolute;
	top:50%;
	line-height: 100%;
	color:white;
	opacity: 0.4;
	right: 40px;
	font-size: 30px;
	z-index: 3;
}
.bt-left:hover {
	width: 150px;
	top:-50px;
	height: 150%;
	z-index: 2;
	box-shadow:30px 2px 40px  inset ;
	-webkit-box-shadow: 30px 2px 40px  inset ;
	-moz-box-shadow :30px 2px 40px  inset ;
	opacity: 0.7;
}
.bt-right:hover {
	width: 150px;
	top:-50px;
	height: 150%;
	z-index: 2;
	box-shadow:-35px 2px 35px  inset ;
	-webkit-box-shadow: -35px 2px 35px  inset ;
	-moz-box-shadow :-35px 2px 35px  inset ;
	opacity: 0.7;
}
/*xử lí nút next*/
.bt-left:hover #bt-1{
	top:42%;
	color: white;
	opacity: 2;

}
.bt-right:hover #bt-2{
	top:42%;
	color: white;
	opacity: 2;
}
.bien-mat-ben-trai{
   animation: bien-mat-ben-trai 0.5s forwards;
}
@-webkit-keyframes bien-mat-ben-trai{
   from{
      transform: translateX(0%);
   }
   to{
      transform: translateX(-100%);
   }
}
.di-vao-ben-phai{
   animation: di-vao-ben-phai 0.5s forwards;
}
@-webkit-keyframes di-vao-ben-phai{
   from{
      transform: translateX(100%);
   }
   to{
      transform: translateX(0%);
   }
}

/*xử lý nút prev*/
.bien-mat-ben-phai{
   animation: bien-mat-ben-phai 0.5s forwards;
}
@-webkit-keyframes bien-mat-ben-phai{
   from{
      transform: translateX(0%);
   }
   to{
      transform: translateX(100%);
   }
}
.di-vao-ben-trai{
   animation: di-vao-ben-trai 0.5s forwards;
}
@-webkit-keyframes di-vao-ben-trai{
   from{
      transform: translateX(-100%);
   }
   to{
      transform: translateX(0%);
   }
}
.bt-mn{
	position: absolute;
	width: 500px;
	height: 30px;
	bottom: -1%;
	left:20%;
	list-style: none;
	display: flex;
	/*background: white;*/
	flex-direction: row;
	z-index: 3;
}
.bt-mini{
	margin-top: 15px;
	line-height: 20px;
	cursor: pointer;
    margin-right: 10px;
	width: 30px;
	height: 3px;
	background: white;
	opacity: 0.3;
}
.active-nut {
	opacity: 1;
	/*height: 4px;*/
}
.anhqc {
	width: 366px;
	height: 182px
}
.menu-anh2{
	position: absolute;
	top:565px;
	left: 10px;
	width: 1330px;
	height: 165px;
	background-color: white;
	/*border-radius: 7px;*/
	float:left;
}
.anhqc2{
	width:330px;
	height: 160px;
	/*margin-left: 10px;*/
}
#ctn-menu-anh2 {
	position: absolute;
	top:-7px;
	margin: 0px;
	padding: 0px;
}
#solid9 {
	border-radius: 7px;
}
/*#logo-rog {
	margin-top:8px;
	margin-left: 0px;
	border: 3px solid grey;
	border-radius: 20px;
}*/
/*#rog {
	border-radius: 20px;
}*/
.mm-container{
	margin-left: 0px;
	margin-top:180px;
	width: 1324px;
	height: 1445px;
	background-color: white;
	/*box-shadow: 2px 1px 10px grey;*/
	/*border: 1px solid black;*/
}
.mini-menu{
	margin-top: 10px;
	margin-left: 20px;
	width: 1310px;
	height: 390px;
	background-color: white;
	/*border: 1px solid black;*/
}
.mm-banner{
	margin-top: 0px
    height: 47px;
    /*background-color:#E11335;*/
    background-color: #E50212;
}
.mm-title{
	font-family: Cooper Black;
	/*font-family: Segoe UI Black;*/
	margin:0px;
	/*padding-bottom: 5px;*/
	/*font-weight: bold;*/
	color: white;
	padding-left: 20px;
	line-height: 45px;
	font-size: 30px;
}
.mm-xt {
	/*font-family: robotom;*/
	float:right;
	line-height: 50px;
	color: white;
	font-size: 15px;
	padding-right: 15px;
}
.mm-xt >a {
	font-family: roboto;
	color: white;
	font-size: 15px;
	font-weight: bold;
}
.mm-xt>a:hover{
	color: black;
}
.bottom-container{
	/*border-top: 1px solid grey;*/
	/*box-shadow: 0px 0px 3px #E5E0E0;*/
	position: relative;
	margin-left: 0px;
	margin-top:20px;
	width: 1340px;
	height: 317px;
	background-color: #EEF0ED;
}
#divide {
	/*color: white;*/
	width: : 1360px;
	height: 1px;
	position: relative;
	top:-4px;
	box-shadow: 0px 1px 2px #9D9696;
}
#divide2{
	position: relative;
   margin:10px 10px -7px 10px;
   width: 1327px;
   height: 42px;
   background-image: url("../banner/Capture.png");
}
#ten {
	font-family: arial;
	color: #292828;
	font-size: 15px;
	line-height: 44px;
	padding-left: 383px;
}
.fb_page{
	float:right;
	/*margin-top: 30px;*/
	margin-right: 30px;
}
#xoa{
	clear: both;
}
#fb-tt{
	line-height: 30px;
	font-family: roboto;
	font-size: 20px;
	font-weight: bold;
}
.cskh{
	margin-top: 5px;
	margin-left: 35px;
	display: flex;
	flex-direction: column;
	float: left;
}
.cskh>span {
	font-family: roboto;
	line-height: 25px;
}
.htkh{
	font-weight: bold;
	font-size: 21px;
	margin-bottom: 5px;
}
.email{
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 0px;
}
#botlogo{
	position: relative;
	top:5px;
	left: 0px;
	border-radius: 7px;
}
.mssv{
	font-family: arial;
	margin-top: 63px;
	margin-left: -140px;
	display: flex;
	flex-direction: column;
	float: left;
}
.mssv>b{
	line-height: 25px;
	font-size: 16px;
}
#cn{
	margin-top: 15px;
	font-weight: bold;
	font-size: 17px;
	color: #023BBC;
}
#cn-1{
	color: inherit;
}
.htch{
	margin-top:17px;
	margin-left: 75px;
	font-family: roboto;
	display: flex;
    flex-direction: column;
    float: left;
}
.htch-tt {
	font-weight: bold;
	font-size: 19px;
	margin-bottom: 20px;
	/*color: #01AA9B;*/
	color: #1076E8;
}
#showroom{
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}
#tuvan{
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 10px;
}

/*font-family: "Segoe UI", Helvetica, Arial, sans-serif;*/
.mm-body{
		      	   		/*position: absolute;*/
		      	   		width: 1310px;
		      	   		height: 300px;
		      	   		border:none;
		      	   		/*display: flex;*/
		      	   		/*flex-direction: row;
		      	   		align-items: center;*/
		      	   	}
		      	   	.mm-body>a{
		      	   		position: absolute;
		      	   	}
		      	   	.cart{
		      	   		padding-top: 5px;
		      	   		position: relative;
		      	   		/*margin-top: 5px;*/
		      	   		width: 230px;
		      	   		height:335px;
		      	   		float:left;
		      	   		/*border: 1px solid #C4C1C1;*/
		      	   		border-top-color:#D9D3D3 ;
		      	   		box-shadow: 0px 1px 3px grey;
		      	   		margin-right: 20px;
		      	   	}
		      	   	.cart-img{
		      	   		margin-left: 0px;
		      	   	}
		      	   	.cart>a{
						position: relative;
		      	   	}
		      	   	.choose{
		      	   		    position: absolute;
		      	   		    padding-left: 10px;
		      	   		    color: white;
						    width: 233px;
						    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
						    height: 57px;
						    line-height: 57px;
						    top: 230px;
						    /*display: none;*/
						    background-color: #666;
						    opacity: 0.79;
						    z-index: 99;
		      	   	}
		      	   	.ct-cart{
		      	   		position: absolute;
		      	   		z-index: 999;
					    left: 10px;
					    font-size: 15px;
					    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
					    color: white;
					    top: 250px;
					    opacity: 100000;
		      	   	}
		      	   	.last{
		      	   		margin-top: -5px;
		      	   	}
		      	   	.new{
		      	   		position: absolute;
		      	   		left: 10px;
		      	   		top:8px;
		      	   		width: 70px;
		      	   		text-align: center;
		      	   		font-family: "Segoe UI", Helvetica, Arial, sans-serif;
		      	   		font-weight: bold;
		      	   		font-size: 14px;
		      	   		color: white;
		      	   		line-height:29px;
		      	   		height: 29px;;
		      	   		background-color: #28B4F5;

		      	   	}
		      	   	.km{
		      	   		position: absolute;
		      	   		right:10px;
		      	   		top:8px;
		      	   		font-family: "Segoe UI", Helvetica, Arial, sans-serif;
		      	   		font-weight: bold;
		      	   		font-size: 14px;
		      	   		color: white;
		      	   		width: 110px;
		      	   		text-align: center;
		      	   		line-height: 29px;
		      	   		height: 29px;;
		      	   		background-color: red;
		      	   	}

.top-cart{
	position: absolute;
	overflow: hidden;
	width: 242px;
}
.mh{
	 color: white;
	 font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    height: 32px;
    background-color: #1d2129;
    width: 81px;
    position: absolute;
    top: 244px;
    /*top: 13px;*/
    opacity: 2;
    right: 8px;
    z-index: 999;
    text-align: center;
    line-height: 32px;
    border-radius: 2px;
}

.cart>a:hover .choose{
	transform: translate(0px,-57px);
	transition: 0.5s;
}
.cart>a:hover .top-cart>i{
	transform: translate(0px,-57px);
	transition: 0.5s;
}
.cart>a:hover .mh{
	transform: translate(0px,-57px);
	transition: 0.5s;
}
.mh:hover{
	transition: 0s;
	background-color: #10ADEE;
	
}
.cart:hover{
	box-shadow: 0px 1px 7px #E0AB08;
}
.info{
	position: relative;
	top:228px;
	width: 100%;
	height: 104px;
	z-index: 777;
	/*border: 1px solid grey;*/
}
.pd-name{
	width: 240px;
	height: 35px;
	margin-top: 5px;
	padding-left: 10px;
	text-align: left;
	padding-right: 10px;
	font-family: "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color:#3C3B3B;
}
.old-price{
	margin-top: 17px;
	padding-left: 15px;
	/*border: 1px solid grey;*/
	height: 18px;
	font-weight: 11px;
	line-height: 18px;
	font-family: roboto;
	text-decoration: line-through;
	color: #8C8B8B;
}
.current-price{

	padding-left: 15px;
	/*border: 1px solid grey;*/
	height: 30px;
	line-height: 30px;
	font-size: 22px;
	font-family: roboto;
	font-weight: bold;
	color:red;
}
.sale{
	left: 175px;
    position: absolute;
    top: 44px;
    z-index: 3;
    /*box-shadow: 0px 0px 1px grey;*/
}
.sale>span{
	position: absolute;
	line-height: 50px;
	left: 12px;
	font-weight: bold;
	font-size: 18px;
	color:#7C4B06;
}
.sale2{
	left: 176px;
    position: absolute;
    top: 40px;
    z-index: 2;
}